.c{
    padding: 40px;
}
.title{
    /*margin-top: 30px;*/
    height: 40px;
    border: 1px solid #ccc;
    line-height: 40px;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.tool{
    margin-top: 20px;
    border: 1px solid #ccc;
    border-bottom: none;
}
.editor{
    border: 1px solid #ccc;
    height: 400px;
}
.btn_d{
    text-align: center;
}
.option li{
    display: inline-block;
    margin:20px 10px 0;
}