.c{
    width: 1000px;
}
.editor,
.option{
    background: #fff;
}
.title{
    height: 40px;
    border: 1px solid #ccc;
    line-height: 40px;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.tool{
    margin-top: 20px;
    border: 1px solid #ccc;
    border-bottom: none;
}
.editor{
    height: 660px;
    overflow-y: auto;
}
.editor>.w-e-text{
    min-height: 400px;
    padding: 0 20px;
}
.btn_d{
    margin:30px 0 0 80px;
}
.option{
    border: 1px solid #e5e5e5;
    border-radius: 0 0 4px 4px;
    padding: 10px 10px 30px;
}
.option li{
    margin:20px 10px 0;
}
.option li span{
    vertical-align: top;
}
.option li>div{
    display: inline-block;
    margin-left: 20px;
    width: 700px;
}
.option li label{
    display: inline-block;
    padding: 10px;
    width: 200px;
}

.category{
    background: #eee;
    padding: 10px;
    min-height: 30px;
}
.category input[type=text]{
    width: 120px;
}
.option li p{
    margin-bottom: 10px;
}
.close{
    vertical-align: middle;
    margin-left: 4px;
    font-size: 20px;
    cursor: pointer;
}
.addCategory a{
    color: blue;
}
.addCategory span{
    color:red;
}