package $package;

import com.xiaohe66.web.domain.love.repository.${entityName}Repository;
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;

/**
 * @author xiaohe
 * @since $time
 */
@Service
@Slf4j
@RequiredArgsConstructor
public class ${entityName}Service{

    private final ${entityName}Repository ${entityName2}Repository;
}
