<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.text.dao.ArticleDao">

    <insert id="add" parameterType="Article" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        insert into xh_web_text_article(text,title,create_id,update_id,secret_level)
        values(#{text},#{title},#{createId},#{createId},#{secretLevel})
    </insert>

    <select id="findById" resultType="Article">
        select * from xh_web_text_article where id = #{id} and is_delete = 0
    </select>

    <select id="findByParam" resultType="Article">
        select * from xh_web_text_article
        <where>
            and is_delete = 0
            <if test="param != null">
                <if test="param.title != null">
                    and title = #{param.title}
                </if>
                <if test="param.secretLevel != null">
                    and publish_state = #{param.secretLevel}
                </if>
                <if test="param.publishState != null">
                    and secret_level = #{param.publishState}
                </if>
            </if>
        </where>
    </select>

    <update id="updateById" parameterType="Article">
        update xh_web_text_article
        <set>
            <if test="title!=null">
                title = #{title},
            </if>
            <if test="text!=null">
                text = #{text},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateId != null">
                update_id = #{updateId},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByParam" parameterType="Article">
        update xh_web_text_article
        <set>
            <if test="title!=null">
                title = #{title},
            </if>
            <if test="text!=null">
                text = #{text},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateId != null">
                update_id = #{updateId},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="delById">
        update xh_web_text_article
        set is_delete = 1,update_id = #{currentUsrId},update_time = #{updateTime}
        where id = #{id}
    </update>

</mapper>