.source a,
.link a{
    color: blue;
    display: block;
    line-height: 38px;
}
.source a:hover,
.link a:hover{
    text-decoration: underline;
}
.source a span{
    float: right;
}
.source,
.article{
    height: 200px;
}
.title a{
    float: right;
    margin-right: 10px;
}