.link a,
.source a,
.article a{
    display: block;
    line-height: 38px;
}
.link a:hover,
.source a:hover,
.article a:hover{
    text-decoration: underline;

}
.source span,
.article span{
    float: right;
}
.source,
.article{
    height: 200px;
}
.title a{
    float: right;
    margin-right: 10px;
}