.l>div.item{
    margin-bottom: 10px;
}
.item{
    padding: 16px 40px;
    min-height: 100px;
}
.item .title{
    font-size: 24px;
    margin-bottom: 10px;
    padding-left: 0;
}
.item .desc,
.item .fr{
    color: #bbb;
}
.item .desc>span{
    margin-right: 24px;
}
.item img{
    width: 16px;
    height: 16px;
    margin-left: 18px;
}
.item img,
.item .fr span{
    vertical-align: middle;
}
#paging{
    text-align: center;
    margin: 20px 0;
}
.digest{
    margin-top: 10px;
}
.category{
    margin-left: 20px;
}
.category a{
    line-height: 24px;
    text-decoration: none;
}
.category a:hover{
    text-decoration: underline;
}