.c{
    position: relative;
    min-height: 600px;
}
.msg{
    min-height: 80px;
    background: #fff;
    padding: 10px;
}
.msg .btn{
    line-height: 36px;
}
.hint{
    font-size: 20px;
    text-align: center;
}
.hint a{
    font-size: 20px;
    text-decoration: none;
    color: blue;
}
.edit{
    padding: 10px;
}
.edit textarea{
    width: 100%;
    resize: none;
    height: 150px;
    border-radius: 4px;
    background: #f6f6f6;
}
.item{
    margin-top: 10px;
    min-height: 100px;
    padding: 10px;
}
.item:hover{
    cursor: default;
}
.item .head_img{
    width: 80px;
    height: 80px;
}
#paging{
    text-align: center;
}

.fl p{
    text-align: center;
    padding: 6px 0;
}
.u_r{
    margin-left: 90px;
}
.u_r_d,
.desc{
    margin-top: 6px;
}
.u_r_d span{
    color: #bbb;
    margin-right: 20px;
}