.c{
    min-height: 1030px;
}
.link a,
.source a,
.article a{
    display: block;
    line-height: 38px;
}
.source span,
.article span{
    float: right;
}
.source,
.article{
    height: 180px;
}
.title a{
    float: right;
    margin-right: 10px;
}
.fast_link td{
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    width: 120px;
    text-align: center;
}
.fast_link td:hover{
    background: #e1f1ff;
    cursor: pointer;
}
.fast_link a{
    display: inline-block;
    width: 100%;
    line-height: 38px;
}
.fast_link a:hover{
    text-decoration: none;
}
.fast_link span{
    content: "";
    vertical-align: middle;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 6px;
    background: url("/icon/index_icon.png");
}
.module2 .item{
    margin-top: 10px;
    height: 100px;
    padding: 10px;
}

.item .head_img{
    width: 60px;
    height: 60px;
}
.item .title{
    border: none;
    padding: 0;
    font-size: 20px;
}
.u_r{
    margin-left: 70px;
}
.u_r_u{
    margin-bottom: 6px;
}
.u_r_u .fr{
    padding-right: 20px;
}
.u_r_u img{
    width: 18px;
    height: 18px;
    margin-left: 20px;
}
.u_r_u img,
.u_r_u span{
    vertical-align: middle;
}

.u_r_d{
    font-size: 12px;
    color: #999;
}
.u_r_d span{
    margin-right: 20px;
}

.item .desc{
    margin-top: 10px;
    color: #5a5a5a;
    word-break:break-all;
}
.without{
    text-align: center;
}
.without>*{
    vertical-align: middle;
}
.without span{
    display: inline-block;
    margin-left: 30px;
    font-size: 30px;
    line-height: 64px;
}