<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 配置数据源 -->
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${datasource.driverClass}"/>
        <property name="jdbcUrl" value="${datasource.url}"/>
        <property name="user" value="${datasource.user}"/>
        <property name="password" value="${datasource.password}"/>
    </bean>

    <!-- 开启注解事务 -->
    <tx:annotation-driven proxy-target-class="true"/>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>


    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置MyBaties全局配置文件:mybaconfnfig.xml -->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
        <!--
        给包中的类注册别名，注册后可以直接使用类名
        属性可以配置多个，可以用,;\t\n进行分割。但是不支持Ant风格的路径。如：com.xiaohe66.web.**.po
         -->
        <property name="typeAliasesPackage" value="com.xiaohe66.web.comm.po
                                                    com.xiaohe66.web.org.po
                                                    com.xiaohe66.web.security.po
                                                    com.xiaohe66.web.sys.po
                                                    com.xiaohe66.web.text.po
                                                    com.xiaohe66.web.home.po" />
        <!-- 自动扫描mapper目录 -->
        <property name="mapperLocations" value="classpath:com/xiaohe66/web/mapper/**/*.xml"/>
    </bean>

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactory" />
    </bean>

    <!--自动扫描dao接口，并注入sqlsession-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.xiaohe66.web.**.dao"/>
        <property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate"/>
    </bean>

</beans>