<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <!--<setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>-->
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <!--<setting name="defaultFetchSize" value="100"/>-->
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>

    <!-- 配置分页插件 -->
    <plugins>

        <!--<plugin interceptor="com.github.pagehelper.PageHelper">
            &lt;!&ndash; 指定数据库方言 &ndash;&gt;
            <property name="dialect" value="mysql"/>
        </plugin>-->

        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor">
            <!--<property name="sqlParser" ref="自定义解析类、可以没有" />-->
            <!--<property name="dialectClazz" value="自定义方言类、可以没有" />-->
        </plugin>
    </plugins>
</configuration>