<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.code.file.dao.CommonFileDao">

    <!-- 在上传小文件时，需要一次性插入链接、文件大小等数据 -->
    <!--<insert id="add" parameterType="CommonFile" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        insert into xiaohe66_web_comm_file(md5,file_url,file_byte,end_time)
        values(#{md5},#{fileUrl},#{fileByte},#{endTime})
    </insert>-->

    <select id="findByMd5" resultType="CommonFile">
        select * from xiaohe66_web_comm_file where md5 = #{md5}
    </select>

    <update id="updateByParam" parameterType="CommonFile">
        update xiaohe66_web_comm_file
        <set>
            <if test="param.endTime != null">
                end_time = #{param.endTime},
            </if>
            <if test="param.fileUrl != null">
                file_url = #{param.fileUrl},
            </if>
            <if test="param.fileByte != null">
                file_byte = #{param.fileByte},
            </if>
        </set>
        <where>
            <if test="param.md5 != null">
                and md5 = #{param.md5}
            </if>
        </where>
    </update>

</mapper>