<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.code.file.mapper.UserFileLogMapper">

    <!--<resultMap id="downloadCountMap" type="com.xiaohe66.web.code.file.po.UsrFileDownloadCount">
        <result column="id" property="id" javaType="int" jdbcType="int"/>
        <result column="count" property="count" javaType="int" jdbcType="int"/>
    </resultMap>-->

    <select id="countDownloadOfMonth" resultType="UsrFileDownloadCount">
        select usr_file_id as id,count(*) as `count` from xiaohe66_web_org_user_file_log
        <where>
            date_sub(curdate(), INTERVAL 30 DAY) &lt;= create_time
            <if test="usrId != null">
                and create_id = #{usrId}
            </if>
        </where>
        group by usr_file_id order by count(*) desc
    </select>

</mapper>