<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.code.file.mapper.UsrFileMapper">

    <select id="findByCommonFileId" resultType="UsrFile">
        select * from xiaohe66_web_org_usr_file where is_delete = 0 and file_id = #{commonFileId}
    </select>

    <select id="listByParam" resultType="UsrFile">
        select * from xiaohe66_web_org_usr_file
        <where>
            is_delete = 0
            and file_type = 0
            <if test="param != null">
                <if test="param.createId != null">
                    and create_id = #{param.createId}
                </if>
                <if test="param.fileName != null">
                    and file_name like #{param.fileName}
                </if>
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>