<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.code.text.dao.ArticleMapper">

    <select id="listByParam" resultType="Article">
        select * from xiaohe66_web_text_article
        <where>
            and is_delete = 0
            <if test="param != null">
                <if test="param.title != null">
                    and title like #{param.title}
                </if>
                <if test="param.secretLevel != null">
                    and secret_level = #{param.secretLevel}
                </if>
                <if test="param.isPublish != null">
                    and is_publish = #{param.isPublish}
                </if>
                <if test="param.createId != null">
                    and create_id = #{param.createId}
                </if>
                <if test="param.id != null">
                    and id = #{param.id}
                </if>
            </if>
        </where>
        order by create_time desc
    </select>

    <!--<update id="updateByParam" parameterType="Article">
        update xiaohe66_web_text_article
        <set>
            <if test="title!=null">
                title = #{title},
            </if>
            <if test="text!=null">
                text = #{text},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateId != null">
                update_id = #{updateId},
            </if>
        </set>
        where id = #{id}
    </update>-->

</mapper>