<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.code.text.dao.MessageBoardMapper">

    <select id="listByParam" resultType="MessageBoard">
        select * from xiaohe66_web_text_message_board
        <where>
            is_delete = 0
            <if test="param.usrId != null">
                and usr_id = #{param.usrId}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>