<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.code.text.dao.TextCategoryMapper">

    <select id="listByParam" resultType="TextCategory">
        select * from xiaohe66_web_text_category
        <where>
            and is_delete = 0
            <if test="param != null">
                <if test="param.createId != null">
                    and create_id = #{param.createId}
                </if>
            </if>
        </where>
    </select>

    <select id="findByPid" resultType="TextCategory">
        select * from xiaohe66_web_text_category where pid = #{pid}
    </select>

    <select id="findNamesByArticleId" resultType="String">
        select group_concat(c.category_name separator '、') from xiaohe66_web_text_category c
        join xiaohe66_web_text_article_category_link l on c.id = l.category_id
        where l.article_id = #{articleId}
    </select>

    <select id="findByArticleId" resultType="TextCategory">
        select c.* from xiaohe66_web_text_category c
        join xiaohe66_web_text_article_category_link l on c.id = l.category_id
        where l.article_id = #{articleId}
    </select>

</mapper>