<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.code.security.mapper.PermissionMapper">

    <select id="findFuncByUsrId" resultType="Permission">
        select f.* from xiaohe66_web_security_permission f
        join xiaohe66_web_security_role_permission rf on f.id = rf.permission_id
        join xiaohe66_web_security_usr_role ur on ur.role_id = rf.role_id
        where ur.usr_id = #{usrId}
    </select>

    <select id="listPermissionInRoleId" resultType="String">
        select f.name from xiaohe66_web_security_permission f
        join xiaohe66_web_security_role_permission rf on f.id = rf.permission_id
        where rf.role_id in
        <foreach collection="roleIdList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

</mapper>