<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.code.security.mapper.RoleMapper">

    <select id="listDefaultRoleId" resultType="java.lang.Integer">
        select id from xiaohe66_web_security_role where is_default = 1
    </select>

    <select id="listRoleNameByUsrId" resultType="java.lang.String">
        select r.role_name from xiaohe66_web_security_role r
        join xiaohe66_web_security_user_role ur on r.id = ur.role_id
        where ur.user_id = #{userId}
    </select>

    <select id="listRoleByUserId" resultType="com.xiaohe66.web.code.security.po.Role">
        select r.* from xiaohe66_web_security_role r
        join xiaohe66_web_security_user_role ur on r.id = ur.role_id
        where ur.user_id = #{userId}
    </select>

    <select id="listRoleByUserName" resultType="com.xiaohe66.web.code.security.po.Role">
        select r.* from xiaohe66_web_security_role r
        join xiaohe66_web_security_user_role ur on r.id = ur.role_id
        join xiaohe66_web_org_user u on u.id = ur.user_id
        where u.user_name = #{userName}
    </select>

</mapper>