<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.code.security.mapper.UserRoleMapper">

    <insert id="addUserRoles">
        insert into xiaohe66_web_security_user_role(user_id,role_id)
        values
        <foreach collection="roleIdSet" separator="," item="item">
            (#{userId},#{item})
        </foreach>
    </insert>

    <select id="listByUserId" resultType="com.xiaohe66.web.code.security.po.UserRole">
        select * from xiaohe66_web_security_user_role where user_id = #{userId}
    </select>

</mapper>