<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.sys.dao.SysCfgDao">

    <insert id="add" parameterType="Usr" keyProperty="id">

    </insert>

    <select id="searchValByName" resultType="String">
        select cfg_val from xh_blog_sys_cfg where cfg_key = #{cfgKey}
    </select>

</mapper>