.jobs .body,
.projects .body,
.ability .body{
    padding: 20px;
}
.base div{
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
.base>div{
    width: 30%;
}
.base>div>div{
    text-align: right;
    width: 80px;
}
.item{
    margin-bottom: 10px;
}
.item:hover{
    background: none;
    cursor: default;
}
.item:last-child{
    margin-bottom:0;
}
.item .logo{
    width: 40px;
    height: 40px;
    margin: 10px 0 0 10px;
}
.jobs .u_r{
    margin-left: 70px;
}
.jobs .u_r div{
    line-height: 30px;
    height: 30px;
}


.item .name{
    font-weight: bold;
    font-size: 16px;
}

.projects .item{
    padding: 10px;
}
.projects .item>div{
    padding: 6px 0;
}

.light ul{
    padding: 4px 6px;
}
.light li{
    line-height: 26px;
}
.light a,
.project_link a{
    color: blue;
}
.project_link p{
    margin-left: 6px;
}

.ability .body>div{
    display: inline-block;
    width: 48%;
    height:300px;
    margin: 20px 0;
}
.ability .body>p{
    height: 30px;
    margin-top: 0;
    font-size: 18px;
    padding-left: 6px;
}
.ability .body>p span{
    font-weight: bold;
    font-size: 18px;
}
