<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.org.dao.UsrDao">

    <insert id="add" parameterType="Usr" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        insert into xiaohe66_web_org_usr(usr_name,usr_pwd,signature)
        values(#{usrName},#{usrPwd},#{signature})
    </insert>

    <select id="findById" resultType="Usr">
        select * from xiaohe66_web_org_usr where id = #{id}
    </select>

    <select id="findByUsrName" resultType="Usr">
        select * from xiaohe66_web_org_usr where usr_name = #{usrName}
    </select>

    <select id="findByUsrNameAndPwd" resultType="Usr">
        select * from xiaohe66_web_org_usr where usr_name = #{usrName} and usr_pwd = #{usrPwd}
    </select>

    <update id="updateById" parameterType="Usr">
        update xiaohe66_web_org_usr
        <set>
            <if test="signature != null">
                signature = #{signature},
            </if>
            <if test="imgFileId != null">
                img_file_id = #{imgFileId},
            </if>
        </set>
        where is_delete = 0 and id = #{id}
    </update>

</mapper>