<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.resume.dao.ResumeFuncDao">

    <select id="findByProjectId" resultType="ResumeFunc">
        select * from xiaohe66_web_resume_func where project_id = #{projectId} and is_delete = 0
    </select>

</mapper>