<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.code.common.dao.CategoryDao">

    <insert id="add" parameterType="Category" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        insert into xiaohe66_web_comm_category
        (create_id,create_time,update_id,update_time,category_name,category_desc,pid)
        values
        (#{createId},#{createTime},#{updateId},#{updateTime},#{categoryName},#{categoryDesc},#{pid})
    </insert>

    <select id="findById" resultType="Category">
        select * from xiaohe66_web_comm_category where is_delete = 0 and id = #{id}
    </select>

    <select id="findByParam" resultType="Category">
        select * from xiaohe66_web_comm_category
        <where>
            <if test="param != null">

            </if>
        </where>
    </select>

    <select id="findByPid" resultType="Category">
        select * from xiaohe66_web_comm_category where pid = #{pid}
    </select>

    <update id="updateById" parameterType="Category">
        update xiaohe66_web_comm_category
        <set>
            <if test="updateId != null">
                update_id = #{updateId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="categoryName != null">
                category_name = #{categoryName},
            </if>
            <if test="categoryDesc != null">
                category_desc = #{categoryDesc},
            </if>
            <if test="pid != null">
                pid = #{pid},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="delById" parameterType="Category">
        update xiaohe66_web_comm_category
        set is_delete = 1,update_id = #{currentUsrId},update_time = #{updateTime}
        where id = #{id}
    </update>

</mapper>