<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.security.role.dao.RoleDao">

    <select id="searchById" resultType="Role">
        select * from xh_blog_security_role where id = #{id}
    </select>

    <select id="searchRoleNameByUsrId" resultType="Role">
        select r.role_name from xh_blog_security_role r
        join xh_blog_security_usr_role ur on r.id = ur.role_id
        where ur.usr_id = #{usrId}
    </select>

</mapper>