<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe66.web.code.org.dao.UsrDao">

    <select id="findByUsrName" resultType="Usr">
        select * from xiaohe66_web_org_usr where usr_name = #{usrName}
    </select>

    <select id="findByEmail" resultType="Usr">
        select * from xiaohe66_web_org_usr where email = #{email}
    </select>

    <select id="findByUsrNameAndPwd" resultType="Usr">
        select * from xiaohe66_web_org_usr where usr_name = #{usrName} and usr_pwd = #{usrPwd}
    </select>

    <select id="isExistEmail" resultType="Boolean">
        select if(count(*)>0,1,0) from xiaohe66_web_org_usr where email = #{email}
    </select>

</mapper>