<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe66.web.code.org.mapper.WxUserMapper">

    <update id="createTable">
        CREATE TABLE if not exists `wx_user` (
          `id` int(11) NOT NULL AUTO_INCREMENT,
          `create_id` int(11) DEFAULT NULL COMMENT '创建者id',
          `create_time` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '创建时间',
          `update_id` int(11) DEFAULT NULL COMMENT '更新者id',
          `update_time` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '更新时间',
          `is_delete` tinyint(4) NOT NULL DEFAULT '0' COMMENT '是否删除（0:未删除,1:删除）',
          `user_id` int(11) NOT NULL,
          `open_id` char(32) NOT NULL,
          `session_key` varchar(32) NOT NULL DEFAULT '',
          `union_id` varchar(64) NOT NULL DEFAULT '',
          `phone` varchar(32) NOT NULL DEFAULT '',
          `nickname` varchar(255) NOT NULL DEFAULT '',
          `sex` tinyint(1) NOT NULL DEFAULT '0' COMMENT '性别: 0:未知;1:男;2:女',
          `province` varchar(32) NOT NULL DEFAULT '',
          `city` varchar(32) NOT NULL DEFAULT '',
          `country` varchar(32) NOT NULL DEFAULT '',
          `avatar_url` varchar(255) NOT NULL DEFAULT '' COMMENT '头像',
          PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </update>

</mapper>